        .flex{
                flex-direction: column;
                display: flex;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                min-width: 10vh;
                line-height:1.4;
                box-sizing: border-box;
                flex-grow: 1;

        }
        
        .contenedor{
                overflow-y: scroll;
        }



   .info-bar {
           display: none;
            background-color: #ffffff;
            padding: auto;
            margin-top: 5px;
            border: 1px solid #fff7f7;
            border-radius: 5px;
            border-color: black;
            margin-left: 140px;
            margin-right: 140px;
            text-align: center;
           
            }
    .info-bar.show {
            display: block;
              }


